{% extends "base.html" %}
{% load staticfiles %}
{% block body_attr %} class="dark-blue-bg"{% endblock %}
{% block 'nav-1' %}<li><a href="/">Search</a></li>{% endblock %}
{% block content %}
<div class="nav-padder-xsm"></div>
<div class="container">
    <div class="panel panel-dark row">
    	<div class="panel-body col-sm-6 col-sm-offset-3">
    		<h1>About</h1>
            <div class="About-body">
                <h3>Our Purpose</h3>
                <p>To revolutionise live music such that it provides musicians a primary career with good pay</p>
                <h3>Our Ambition</h3>
                <p>To become the platform that powers live music</p>
                <h3>Our Habits</h3>
                <ul>
                    <li>Always listening to the needs of musicians</li>
                    <li>Actively participating in the music industry</li>
                    <li>Advocating for the interests of musicians and the live music industry</li>
                </ul>
                <h3>Our Values</h3>
                <p>We believe..</p>
                <ul>
                    <li>In empowering the underdog first</li>
                    <li>Musicians deserve to make a career from their art.</li>
                    <li>Musicians need local venues to grow their careers</li>
                    <li>Live music is vital to a society’s social cohesion</li>
                </ul>
                <h3>Our Promise</h3>
                <p>We are the booking platform whose open platform, industry experience, and focus on musicians needs offers budding musicians the opportunity to turn their art into a rewarding career and experiences.</p>
            </div>
            <h3>Our Verse</h3>
            <blockquote>
        		<p>Music is the medium through which we create meaning in a humbling universe.</p>

        		<p>In a world which otherwise forgets about us, music is the voice with which we shout <em>"I am here. I feel. I live. I love. I can stare into the void unafraid because I have felt passionately, lived hungrily, and loved foolishly."</em></p>

        		<p>A voice amongst the eternal chorus of humanity, it frees our individuality, yet reminds us we are not alone.</p>

        		<p>The right song at the right moment can unlock the truest depths of your lovers heart, heal a brutal sting, or inspire an unstoppable revolution.</p>

        		<p>Music is the blood that flows in the veins of our soul, and we would see it kept healthy. We would see it grow great with the honest song of an open heart.</p>

        		<p>We would hear you sing.</p>
                <p class="text-muted"><small>Anthony Manning-Franklin, Gigger Founder/CEO</small></p>
            </blockquote>
        </div>
	</div>
</div>
{% endblock %}
